{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Войдите, чтобы запустить сбор данных</h4>

            <form method="post" action="http://localhost:8000/accounts/login/?next={{ "/polls/redirect" }}">
                {% csrf_token %}
{#                <input name="next" value={{ request.GET.next }}>/#}

                {{ form|crispy }}

                <button type="submit" class="btn btn-primary btn-block">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}